$containerWidth: 940px;
$baseFontSize: 16px;


//brakepoints
$tablets: 768px;
$phones: 480px;
$z-index-fixed-menu:100;

// @import "./layout/*.scss";

// @import  url('./normolize.css');
// @import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");
// @import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&display=swap');




@import "media";
@import "layout";
@import "./blocks/*.scss";

// @import "blocks/header";
// @import "blocks/menu";
// @import "blocks/pros";
// @import "blocks/btn";
// @import "blocks/contacts";
// @import "blocks/why";
// @import "blocks/benifits";
// @import "blocks/reviews";
// @import "blocks/delivery";
// @import "blocks/form";
// @import "blocks/section";
// @import "blocks/socials";
// @import "blocks/info";
// @import "blocks/footer";
// @import "blocks/map";
// @import "blocks/fullscrean-menu";
// @import "blocks/offer";
// @import "blocks/team";
// @import "blocks/modal";
// @import "blocks/products-menu";
// @import "blocks/player";
// @import "blocks/fixed-menu";
